<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Root 权限由 libsu 内部处理 -->
    <!-- 查询已安装应用列表（用于显示应用名称和图标） -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoteConfigOverride">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.RemoteConfigOverride">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
